.bigbutton {
    font-size: 3em;
    background-color: black;
    color: #fff;
    border-radius: 0.2em;
    font-family: sans-serif;
    padding: 1em 1.4em;
}

/* this style is added when the button is clicked */
.clickedbutton {
    background-color: green;
}